{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Здоровье</h2>
        <p class="lead"><b>Здоровье –</b> это онлайн-платформа, которая помогает вам взять под контроль свое здоровье,
            предоставляя удобный и доступный доступ к современным медицинским диагностическим инструментам. </p>
        <p class="lead"><b>Здоровье -</b> это не просто сайт, это ваш надежный партнер в заботе о своем здоровье. Мы
            предоставляем вам инструменты, знания и поддержку, чтобы вы могли принимать осознанные решения о своем
            благополучии.</p>
        <p class="lead"><b>Мы верим, что каждый человек заслуживает быть здоровым!</b></p>

    </div>
    <div class="col-md-5">
        <img src="{% static 'img/999.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Почему Здоровье?</h2>
        <p class="lead"><b>Доступность:</b> Мы стремимся сделать медицинские услуги доступными для всех, независимо от
            местоположения и финансовых возможностей.</p>
        <p class="lead"><b>Простота:</b> Наша платформа разработана с учетом удобства использования, чтобы сделать
            процесс диагностики и
            получения медицинской информации максимально простым.</p>
        <p class="lead"><b>Точность:</b> Мы используем только проверенные медицинские инструменты и технологии, чтобы
            обеспечить точность
            результатов и рекомендаций.</p>
        <p class="lead"><b>Конфиденциальность:</b> Мы гарантируем конфиденциальность вашей медицинской информации и
            соблюдаем все
            необходимые стандарты безопасности.</p></p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'img/888.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">История "Здоровье": Путь от мечты до реальности</h2>
        <p class="lead">"Здоровье" родилось из личной истории, истории одного человека, который столкнулся с серьезными
            проблемами со здоровьем. Оказавшись перед лицом сложной диагностики и множеством вопросов, он понял,
            насколько сложным и запутанным может быть мир медицины.</p>
        <p class="lead">Эта история стала отправной точкой для создания "Здоровье" – онлайн-платформы, которая должна
            была сделать медицинские знания и инструменты доступными для всех. Мы верили, что каждый человек должен
            иметь возможность самостоятельно следить за своим здоровьем, принимать информированные решения и получать
            качественную медицинскую помощь.</p>

    </div>
    <div class="col-md-5">
        <img src="{% static 'img/321.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">С самого начала мы поставили перед собой амбициозные цели:</h2>
        <p class="lead"><b>Сделать диагностику доступной:</b> Мы хотели, чтобы каждый мог получить доступ к современным
            диагностическим тестам, не выходя из дома.</p>
        <p class="lead"><b>Предоставить надежные знания:</b> Мы стремились собрать и систематизировать достоверную
            информацию о здоровье,
            заболеваниях и методах лечения, чтобы сделать ее доступной для широкой аудитории.</p>
        <p class="lead"><b>Создать сообщество заботы:</b> Мы хотели создать онлайн-пространство, где люди могли бы
            делиться опытом, получать
            поддержку и задавать вопросы о своем здоровье.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'img/987.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Мы начали с небольшого коллектива энтузиастов, объединенных
            желанием сделать мир здоровее. </h2>
        <p class="lead">С помощью талантливых разработчиков, врачей и специалистов мы разработали удобную платформу,
            наполненную полезной информацией и практичными инструментами.</p>
        <p class="lead">Сегодня "Здоровье" – это динамично развивающийся проект, который помогает тысячам людей по всей
            стране заботиться о своем здоровье. Мы продолжаем совершенствовать платформу, добавляя новые функции,
            расширяя базу знаний и привлекая к сотрудничеству лучших специалистов в области медицины. </p>
        <p class="lead"><b>Наша миссия остается неизменной:</b> сделать здоровье доступным и понятным для всех!</p>

    </div>
    <div class="col-md-5">
        <img src="{% static 'img/111.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="pricing-header px-3 py-3 pt-md-2 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Наша команда врачей</h1>
</div>

<div class="row">
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/vrachiha.jpg' %}">
        <h2 class="fw-normal">Аверченко Мария Серафимовна</h2>
        <p class="lead">Врач-терапевт</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/333.jpg' %}">
        <h2 class="fw-normal">Авдеева Елена Александровна</h2>
        <p class="lead">Врач функциональной диагностики</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/vrach.jpg' %}">
        <h2 class="fw-normal">Аверков Антон Алексеевич</h2>
        <p class="lead">Врач ультразвуковой диагностики</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/435.png' %}">
        <h2 class="fw-normal">Белова Ольга Дмитриевна</h2>
        <p class="lead">Врач-эндокринолог</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/856.png' %}">
        <h2 class="fw-normal">Ахмедов Малик Мухтарович</h2>
        <p class="lead">Врач-эндоскопист</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/965.jpg' %}">
        <h2 class="fw-normal">Беляева Людмила Александровна</h2>
        <p class="lead">Врач-невролог</p>
        <p><a class="btn btn-info" href="{% url 'catalog:account_list' %}">Записаться</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
{% endblock %}