{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Здоровье</h2>
        <p class="lead"><b>Здоровье –</b> это онлайн-платформа, которая помогает вам взять под контроль свое здоровье,
            предоставляя удобный и доступный доступ к современным медицинским диагностическим инструментам. </p>
        <p class="lead"><b>Здоровье -</b> это не просто сайт, это ваш надежный партнер в заботе о своем здоровье. Мы
            предоставляем вам инструменты, знания и поддержку, чтобы вы могли принимать осознанные решения о своем
            благополучии.</p>
        <p class="lead"><b>Мы верим, что каждый человек заслуживает быть здоровым!</b></p>

    </div>
    <div class="col-md-5">
        <img src="{% static 'img/999.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Почему Здоровье?</h2>
        <p class="lead"><b>Доступность:</b> Мы стремимся сделать медицинские услуги доступными для всех, независимо от
            местоположения и финансовых возможностей.
        <p class="lead"><b>Простота:</b> Наша платформа разработана с учетом удобства использования, чтобы сделать процесс диагностики и
            получения медицинской информации максимально простым.</p>
        <p class="lead"><b>Точность:</b> Мы используем только проверенные медицинские инструменты и технологии, чтобы обеспечить точность
            результатов и рекомендаций.</p>
        <p class="lead"><b>Конфиденциальность:</b> Мы гарантируем конфиденциальность вашей медицинской информации и соблюдаем все
            необходимые стандарты безопасности.</p></p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'img/888.jpg' %}" class="bd-placeholder-img featurette-img"/>
    </div>
</div>
{% endblock %}