{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Контакты</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25 bg-primary-subtle">Телефон</td>
                            <td class="w-25 bg-primary-subtle">+7 (7777) 77 77 77</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>г. Москва, ул. Красноказарменная, д. 14А, к. 6</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-primary-subtle">Email</td>
                            <td class="w-25 bg-primary-subtle">health@mail.ru</td>
                        </tr>
                        <tr>
                            <td class="w-25">Карта</td>
                            <td>
                                <div style="position:relative;overflow:hidden;">
                                    <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                                       style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
                                    <a href="https://yandex.ru/maps/213/moscow/house/krasnokazarmennaya_ulitsa_14ak6/Z04YcQZiSUYHQFtvfXt0cHpkZA==/?ll=37.713533%2C55.750541&utm_medium=mapframe&utm_source=maps&z=14.27"
                                       style="color:#eee;font-size:12px;position:absolute;top:14px;">Красноказарменная
                                        улица, 14Ак6 —
                                        Яндекс Карты</a>
                                    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.713533%2C55.750541&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgozNDY4MDM0MjE1ElLQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0JrRgNCw0YHQvdC-0LrQsNC30LDRgNC80LXQvdC90LDRjyDRg9C70LjRhtCwLCAxNNCQ0Lo2IgoNHtkWQhW1AV9C&z=14.27"
                                            width="560" height="400" frameborder="1" allowfullscreen="true"
                                            style="position:relative;"></iframe>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-primary-subtle">
                    <h4 class="my-0 font-weight-normal ">Обратная связь</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Процедура</label>
                            <textarea type="text" name="message" class="form-control" id="message"
                                      placeholder="Процедура, на которую хотите записаться" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn btn-outline-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}