{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-12 md-5">
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><b>Ограничения:</b> {{ product.restrictions|linebreaksbr }}</p>
                        <p class="card-text">Медицинские показания: {{ product.medical_indications }}</p>
                        <p class="card-text">Цена: {{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}